@model  Magazine_2021.Data.Models.Car;

<div class="card mb-3">
    <img src="@Model.img" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">@Model.name</h5>
        <p class="card-text">@Model.shortDesc</p>
        <p class="card-text"><small class="text-muted">@Model.longDesc</small></p>
    </div>
</div>